<div class="footer">
    <div class="pull-right">
        Focus, no distractions! Work!
    </div>
    <div>
        <strong>Copyright</strong> ColinaQuintero Enterprises &copy; 2017
    </div>
</div>
